<div class="container">
    <h1>Quote Ranker</h1>
    <hr>
  
    <div class="row">
        <div class="col-md-6">
            <div *ngFor = 'let quotes of quote; let i=index'>
                <div>
                    <p>"{{quotes.quote}}" - {{quotes.author}}</p>
                    <button (click) = 'toggleDetails(i)' class="btn btn-success">More Details</button><br>
                    <button class="btn btn-primary" (click)="upvoteQ(quotes)">Upvote: {{quotes.upvote}}</button>
                    <button class="btn btn-primary"(click)="downvoteQ(quotes)">Downvote: {{quotes.downvote}}</button>
                    <button class="btn btn-dark" (click) ="reset(quotes)">Reset</button>
                </div>
                <div *ngIf = 'quotes.showAuthor'>
                    <app-quote-details [quotes] = 'quotes' (isComplete) = 'deleteQuote($event,i)'></app-quote-details>
                  </div>
            </div>
            
        </div>
      <div class="col-md-6">
        <app-quotes-form (addQuote) = "addNewQuote($event)"></app-quotes-form>
      </div>
    </div>
  </div>
